.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loan-form {
  background-color: rgb(51, 0, 170);
  flex-direction: column;
  margin-top: 100px;
  padding: 25px;
  width: 50%;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

hr {
  width: 100%;
}
input,
select {
  width: 100%;
  border-radius: 5px;
  height: 30px;
}
#submit-loan-btn {
  margin-top: 20px;
  color: white;
  background-color: rgb(211, 0, 127);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}

#modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

#modal-content {
  color: green;
  background-color: white;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  background-color: gray !important;
}
